global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# Dashboard monitoring (buka di browser: localhost:8900)
frontend stats
    bind *:8900
    mode http
    stats enable
    stats uri /
    stats refresh 3s
    stats show-legends

# Gerbang masuk semua koneksi database
frontend db_frontend
    bind *:3300
    mode tcp
    default_backend db_backend

# Distribusi ke master dan slave
backend db_backend
    mode tcp
    balance roundrobin
    option tcp-check

    # Health check setiap 2 detik
    server db-master db-master:3306 check inter 2s rise 1 fall 2
    server db-slave  db-slave:3306  check inter 2s rise 1 fall 2 backup
